@import "tailwindcss";

@media screen and (max-width: 767px) {
    .item{
        position: relative;
    }
    .item::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed rgb(46, 44, 44);
        left: 0;
        top: -14px;
        background-color: transparent;
    }
}